* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --black: black;
  --white: white;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'pp_neue_montrealmedium';
}

/* Animation function */
@keyframes fadeIn {
  from {
    opacity: 0;
    /* Starting opacity of 0 (fully transparent) */
  }

  to {
    opacity: 1;
    /*  Ending opacity of 1 (fully opaque) */
  }
}

/* Width and height of the scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Background color of the scrollbar track */
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Hover styles for the scrollbar thumb */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Width of the scrollbar track */
body::-webkit-scrollbar {
  width: 10px;
}


/**************************************************************************************/

.body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* tranlating boxes */
.drop-down-boxes {
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 0 3%;
}

.drop-down-box-1 {
  height: 65vh;
  z-index: 12;
  transform: translateY(-100%);
  box-shadow: 0 0 20px #6c6c6c8f;
}

.close {
  position: absolute;
  top: 14%;
  left: 64.2%;
  z-index: 100000;
  font-size: 20px;
  cursor: pointer;
}

.box-1-nav-links {
  display: flex;
  flex-direction: column;
  margin-left: 65%;
  margin-top: 10%;
  height: 40%;
  justify-content: space-evenly;
}

.nav-icons {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#top-icons {
  width: 20%;
  margin-top: 4rem;
}

#top-nav-icons {
  width: 32%;
  justify-content: flex-start
}

#top-nav-icons>svg {
  margin-right: 10px;
}

.box-1-nav-links>a {
  color: black;
  font-size: 1.3rem;
}

.drop-down-box-2 {
  height: 80%;
  z-index: 10;
  transform: translateY(-100%);
  display: flex;
  align-items: flex-end;
  padding: 0 2% 0 2%;
}

.copy {
  width: 50%;
  font-size: 11rem;
}

.box-2-nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-bottom: 3%;
}

.box-2-nav-links>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box-2-nav-links a {
  color: #757878;
}

/* navbar */
.navbar, .fix-nav {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 6%;
  width: 94%;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
}


.fix-nav {
  padding: .7% 3%;
  background-color: black;
  position: fixed;
  transition: .3s ease-in-out;
  transform: translateY(-100%);
  width: 94%;
}

.carousel-item-box {
  background: rgba(255, 255, 255, 0.10);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.19);
}

.fix-nav .disc {
  background-color: white;
}

.mode {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 7%;
  justify-content: space-around;
}

.mode:hover {
  cursor: pointer;
  color: #636363;
}

.navbar-left {
  display: flex;
  z-index: 15;
}

.navbarleft {
  z-index: 16;
  color: black;
}

.disc {
  width: 10px;
  height: 10px;
  clip-path: circle(5px);
  background-color: var(--white);
  margin-top: 2px;
}

.nav {
  display: flex;
  width: 35%;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:hover {
  color: #898989;
}

.nav-a {
  color: white;
}

.nav>div {
  display: flex;
  justify-content: space-between;
}

.nav-left {
  width: 40%;
}

.nav-right {
  width: 30%;
}

.disp-none {
  z-index: -1;
}

/* menu bar */
.menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s;
  cursor: pointer;
  z-index: 15;
}

.line {
  width: 30px;
  height: 1px;
  background-color: white;
  transition: 0.5s;
}

.menu-bar:hover {
  justify-content: space-between;
}

.open-menu {
  justify-content: center !important;
}

#line-1, #line-2 {
  transform-origin: center center;
}

/* carousel background images */
.bg-imgs {
  width: 500vw;
  height: 100vh;
  position: fixed;
}

.bg-imgs>div {
  width: 20%;
  height: 100%;
  background-size: cover !important;
  transition: transform 1s ease-out;
}

.bg-imgs {
  display: flex;
  background-color: var(--black);
}

/* carousel */
.carousel {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-container {
  width: 500vw;
  height: 100vh;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  overflow-x: auto;
  cursor: grab;
  color: white;
}

.carousel-item {
  position: relative;
  width: 20%;
  height: 100%;
  background-size: cover !important;
  transition: transform 1s ease-out;
}

#carousel-item-1>div, #carousel-item-2>div, #carousel-item-3>div, #carousel-item-4>div, #carousel-item-5>div {
  height: 20%;
  font-size: 12rem;
  margin-bottom: 5%;
  position: absolute;
  transition: 0.3s;
  animation: upward 1s cubic-bezier(0, 0.52, 0.68, 1.42);
}


.carousel-item-box {
  width: 30%;
  top: 70%;
  left: 3%;
  padding: 1rem;
  border: 1px solid #d4cdcd7d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-item-box:hover {
  border-color: white;
  background-color: #00000021;
}

.carousel-item-box:hover .carousel-item-box-body-span {
  transform: translateX(4px);
}

.carousel-item-box-body-span {
  transition: .3s;
}

.carousel-item-box-head {
  font-size: 3rem;
}

.carousel-item-box-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'pp_neue_montrealmedium';
}

.carousel-item-box-body p {
  font-size: 1rem;
  width: 85%;
}

@keyframes upward {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes downward {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.carousel-item-box-body span {
  font-size: 1rem;
  transition: 0.1s;
}

/* hide carousel scroll bar */
.carousel-container::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

.carousel-container, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#bg-img-1 {
  background-image: url("Photos/First_Carousel.jpg");
}


#bg-img-2 {
  background-image: url('Photos/Second_Carousel.jpg');
}

#bg-img-3 {
  background-image: url('Photos/Third_Carousel.jpg');
}

#bg-img-4 {
  background-image: url('Photos/Fourth_Carousel.jpg');
}

#bg-img-5 {
  background-image: url('Photos/Fifth_Carousel.jpg');
}

/* carousel indicator */
.navigate-carousel, .scroll {
  position: absolute;
  top: 90%;
  left: 12%;
  height: 20px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 1s cubic-bezier(0, 0.52, 0.68, 1.42);
}

.scroll {
  left: 18%;
  width: 50px;
  cursor: pointer;
}

.scroll a {
  color: white;
}

.scroll a:hover {
  color: #898989;
}

.carousel-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /* background-color: black; */
  border: 0.5px solid #898989;
}

.carousel-btn:hover {
  cursor: pointer;
  border-color: white !important;
}

.carousel-btn-active {
  background-color: white;
}

/**************************************************************************************/

/* about */
.about {
  position: relative;
  padding: 0 3%;
}

.about-head, .font-use-head, .pang-pap-head, .footer-mid-head {
  display: flex;
  flex-direction: row;
  padding-top: 1%;
  margin-bottom: 3.5%;
  border-top: 1px solid #666060;
}

.about-heading, .font-use-heading, .pang-pap-heading, .footer-mid-heading {
  margin-left: 10px;
  font-size: 0.8rem;
}

.about div {
  color: var(--white);
}

.about-p {
  width: 100%;
}

.about-p p {
  font-size: 3rem;
  text-transform: uppercase;
  width: 70%;
  text-transform: capitalize;
  line-height: 1;
}

/* 3 divs in about section */
.about-divs {
  width: 100%;
  margin-top: 20vh;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-divs>div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-div-3-body p {
  width: 80%;
}

/* 2 hyper-links */
.about-link {
  width: 100%;
  border-bottom: 1px solid #666060;
}

.about-link a {
  font-size: 1.2rem;
  position: relative;
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.underline {
  height: 1px;
  transition: transform .5s cubic-bezier(0.59, 0.72, 0.44, 1.01);
  background-color: var(--white);
  transform: scaleX(0);
}

.und_link_in {
  transform-origin: center right;
  transform: scaleX(0);
}

.und_link_out {
  transform-origin: center left;
  transform: scaleX(1);
}

/* empty div */
.about-empty {
  height: 35vh;
}

/**************************************************************************************/

/* font families */
.font-fam {
  color: var(--white);
  position: relative;
  padding: 0 3%;
  margin-bottom: 25vh;
}

.font-fam-head {
  padding-bottom: 1%;
  border-bottom: 1px solid #666060;
  margin-bottom: 3%;
}

.fam-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.3rem;
}

.fam-card-div {
  position: relative;
  padding: 0rem;
  height: 45vh;
  border: 1px solid #251b1b;
  border-radius: 6px;
  overflow: hidden;
  transition: transform .3s cubic-bezier(0, 0.52, 0.68, 1.42);
}

.fam-card {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.fam-card-font-style {
  width: 100%;
  font-size: 10rem;
}


.fam-card-div {
  display: inline-block;
  overflow: hidden;
  height: auto;
  max-height: 420px;
}

.fam-card-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



/* on hover content for font styles */

.fam-card-div img:hover {
  transform: scale(1.2);
  transition: .5s ease-in-out;
}



@keyframes expand {
  from {
    clip-path: circle(0);
  }

  to {
    clip-path: circle(50%);
  }
}

/* circular div */
.fam-card-circle-div {
  background-color: var(--white);
  clip-path: circle(45%);
  margin: 0px;
  padding: 80px;
}

.fam-card-circle-div:hover {
  opacity: .8;
}

.fam-circle div {
  text-align: center;
  color: var(--black);
  margin: auto;
}

.fam-circle-content {
  font-size: 3rem;
  line-height: .8;
}

.circle-rotate {
  transition: .15s ease-out;
}

.font-link {
  width: 30%;
  margin: auto;
  margin-top: 6rem;
}

/**************************************************************************************/

/* font in use */
.font-use {
  position: relative;
  padding: 0 3%;
  color: var(--white);
  margin-bottom: 30vh;
}

.font-use-head {
  padding-top: 1rem;
  border-top: 1px solid #636363;
}

.font-use-text {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.font-use-text p {
  width: 60%;
  font-size: 3rem;
  padding-right: 8%;
  text-transform: uppercase;
  line-height: 1;
}

/* images */
.pizza-festival {
  display: grid;
  align-items: flex-end;
  margin-top: 6rem;
  gap: 10vh 2%;
  grid-template-columns: repeat(3, 1fr);
}

/* pizza */
.pizza-div {
  grid-area: pizza;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.pizza-festival>a:hover, .pang-pap-grid>a:hover {
  opacity: 0.7;
}

.bg-div {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  border-radius: 6px;
}

.translate-div {
  width: 100%;
  height: 110%;
  transform: translateY(calc(70vh / 100% *10));
  background: url('Photos/Translate_1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  transition: .3s ease-out;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  color: var(--white);
}

.bottom>* {
  width: 50%;
}

.bottom-left {
  font-size: 1.3rem;
}

.bottom-right {
  color: #636363;
}

/* festival */
.festival-div {
  grid-area: festival;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.festival-bg-div {
  height: 35vh;
}

.festival-translate-div {
  height: 115%;
  background: url('Photos/Translate_2.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateY(calc(35vh / 100% *10));
}

/* arc */
.arc-div {
  grid-area: arc;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.arc-bg-div {
  height: 43vh;
}

.arc-translate-div {
  height: 115%;
  background: url('Photos/Translate_3.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateY(calc(43vh / 100% *10));
}

/* huspy */
.huspy-div {
  grid-area: huspy;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.huspy-bg-div {
  height: 32vh;
}

.huspy-translate-div {
  height: 115%;
  background: url('Photos/Translate_4.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateY(calc(32vh / 100% *10));
}

/* room */
.room-div {
  grid-area: room;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.room-bg-div {
  height: 35vh;
}

.room-translate-div {
  height: 115%;
  background: url('Photos/Translate_5.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateY(calc(35vh / 100% *10));
}

.pang-pap {
  position: relative;
  padding: 0 3%;
  color: var(--white);
  margin-bottom: 30vh;
}

.pang-pap-head {
  padding-top: 1rem;
  border-top: 1px solid #636363;
}

.pang-pap-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
}

.pang-bg-div {
  height: 55vh;
}

#pang-translate-div-1 {
  height: 75%;
}

#pang-translate-div-2 {
  height: 75%;
}

#pang-translate-div-3 {
  height: 75%;
}

#pang-translate-div-1 img {
  max-height: 100%;
  background-size: contain;
  transform-origin: center center;
  /* Set the origin of the transformation */
  transition: transform 0.3s ease;
  /* Add a smooth transition effect */
}

#pang-translate-div-1 img:hover {
  transform: scale(1.3);
}

#pang-translate-div-2 img {
  max-height: 100%;
  background-size: contain;
  transform-origin: center center;
  /* Set the origin of the transformation */
  transition: transform 0.3s ease;
  /* Add a smooth transition effect */
}

#pang-translate-div-2 img:hover {
  transform: scale(1.3);
}

#pang-translate-div-3 img {
  max-height: 100%;
  background-size: contain;
  transform-origin: center center;
  /* Set the origin of the transformation */
  transition: transform 0.3s ease;
  /* Add a smooth transition effect */
}

#pang-translate-div-3 img:hover {
  transform: scale(1.3);
}


.pang-bottom {
  flex-direction: column;
}

.pang-bottom>div {
  width: 100%;
}

.pang-pap-bottom-2 {
  font-size: 2rem;
  line-height: 1;
  margin-top: 1rem;
}

/**************************************************************************************/

/* footer */
.footer {
  width: 96%;
  padding: 5% 3%;
  background-color: white;
  position: relative;
}

/* footer top */
.footer-top, .footer-bottom {
  display: grid;
  gap: 1%;
  grid-template-columns: 2fr 1fr 1fr;
}

/* subscribe */
.subscribe {
  width: 50%;
  font-size: 2.5rem;
}

.subscribe p {
  width: 80%;
  line-height: 1;
  margin-bottom: 2rem;
  color: black;
}

.subs-form {
  width: 80%;
  padding: .6rem 0;
  border-bottom: 1px solid #bebebe;
}

.subs-form:hover, .subs-form:focus-within {
  border-color: var(--black);
}

.subs-form input {
  width: 88%;
  height: 2rem;
  border: none;
  outline: none;
  background-color: white;
  font-size: 1.3rem;
}

.subs-form button {
  border: none;
  font-weight: 900;
  font-size: 1.3rem;
  background-color: white;
  cursor: pointer;
}

/* menu, support */
.footer-head, .footer-head a {
  font-size: 1.15rem;
  color: #35353575;
  margin-bottom: 2rem;
}

.support-head a:hover {
  color: #00000021;
}

.footer-li, .fonts ul {
  list-style: none;
  font-size: 1.15rem;
}

.footer-li li, .fonts li {
  color: #636363;
  margin-bottom: .5rem;
}

.footer-li li a, .fonts a {
  color: #454444e0;
}

/* DevLogo */
#DevName {
  text-align: center;
  font-size: 1rem;
  color: #00000038;
}


/* footer mid 1 */
.footer-mid-1 {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

/* icons */
.footer-icons {
  display: flex;
  width: 8%;
  justify-content: space-between;
}

.icon {
  width: 20px;
  height: 20px;
  clip-path: circle(50%);
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.font-change {
  font-size: 10rem;
  height: 20vh;
  color: white;
  display: flex;
  align-items: center;
}

.fonts {
  display: grid;
  gap: 1%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 5rem;
}

/* footer bottom */
/* .footer-bottom{
  align-items: flex-end;
}

.bottom-icons{
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.bottom-icons svg{
  width: 40px;
  height: 40px;
}

.footer-bottom p{
  font-size: .8rem;
  color: #05040438;
} */

/* translate animation */
/* .footer{
  width: 94%;
  height: 100vh;
  overflow: hidden;
  padding: 5% 3%;
}

.footer-translate{
  width: 100%;
  height: 120%;
  transform: translateY(calc(100vh / 120% *10));
  transition: .3s ease-out;
} */



/* ----------------------Responsive---------------------------- */


@media only screen and (max-width: 768px) {
  .navbar{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }
  .head{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }

  /* ----------------------------Drop-down-boxes------------------------------- */
  .drop-down-boxes {
    position: fixed;
    width: 100vw;
    margin: 0px;
    padding: 0;
  }

  .box-1-nav-links {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    padding: 10px 0 0 0;
    margin-top: 10vh;
    font-size: 30px;
    height: 40%;
    justify-content: center;
  }

  .drop-down-box-1 {
    height: 80vh;
  }

  .nav-icons {
    width: 100vw;
    position: relative;
    display: flex;
    left: 0%;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .box-1-nav-links>a {
    color: black;
    padding: .8vh;
    font-weight: 0px;
    font-size: 20px;
    font-family:'pp_neue_montrealmedium';
}
  .drop-down-box-2 {
    height: 100vh;
  }

  #top-nav-icons {
    width: 100vw;
    position: relative;
    left: 5%;
    justify-content: flex-start;
  }

  .close {
    display: none;
  }

  /* -----------------------------------------------------------First-Navbar------------------------------------- */

  .navbar {
    width: 100vw;
    margin: 10px 0px 0 0;
  }
  .nav{
    gap: 0;
  }
  .navb-a{
    padding: 20px 0 0 0;
  }
  .navb-a div{
    padding: 0vh 3vh 0vh 4vh;
  }
  #line-1, #line-2 {
    justify-content: space-between;
  }

  .menu-bar {
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.5s;
    justify-content: space-between;
    cursor: pointer;
    z-index: 15;
    top: 10vh;
    right: 10vh;
  }
.nav-left{
  display: none;
}
  #Portfolio, #Contact {
    height: 0;
    width: 0;
    display: none;
  }
  .nav-right{
    width: 45%;
  }
/* ------------------------------------------------Fix-Nav-------------------------------------- */
.responsive_deletion{
  height: 0;
  width: 0;
  display: none;
}  
.fix-nav {
  padding: 0px 10px 0px 5vw;
  background-color: black;
  height: 12vh;
  position: fixed;
  transition: none;
  width: 100vw;
}
.bg-img{
  height: 100vh;
  width: 100vw;
}



  /* ------------------------------Carousel--------------------- */
  .carousel-item{
    width: 0;
    height: 0;
    display: none;
  }
  .carousel-container{
    overflow: hidden;
  }
   .carousel{
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background-size: contain;
  } 
  .bg-imgs {
    position: absolute;
    z-index: -100;
  }
  .navigate-carousel{
    left: 5vw;
  }
  .scroll{
    left: 80vw;
  }
/* --------------------------------------About Section---------------------------------- */
  .about{
    background-color: #000;
    overflow: hidden;
    height: 150vh;
  }
  .about-divs{
    color: #fff;
  }
  .mobile-theme{
    color: white;
  }
  .about-p{
    margin: 0px 0px 0px 2vw;
  }
  .about-p p{
    font-size: 25px;
    margin: 0vh 0vw 0vh 0vw;
    justify-content: center;
    width: 90vw;
  }
  .about-divs{
    margin: 30vw 0vh 0vw 0vh;
  }
  /* -----------------------------Blog-------------------------- */
  #blog{
    overflow: hidden;
  }
  .footer{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }
}
